html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 917px;
	min-height: 751px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 62px;
}

#pu1862
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#u1862
{
	z-index: 4;
	width: 916px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -918px;
	margin-top: 89px;
}

#u1896
{
	z-index: 6;
	width: 140px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -140px;
	margin-top: 108px;
	left: 190px;
	background: #590D0D url("../images/u1896-grad.png") repeat-x left top;
}

#u1907-4
{
	z-index: 8;
	width: 137px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -137px;
	margin-top: 8px;
	left: 1px;
}

#u1864
{
	z-index: 7;
	width: 118px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -118px;
	margin-top: 108px;
	left: 334px;
	background: #731212 url("../images/u1479-grad.png") repeat-x left top;
}

#u1858-4
{
	z-index: 12;
	width: 112px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -112px;
	margin-top: 8px;
	left: 3px;
}

#u1865
{
	z-index: 16;
	width: 159px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -159px;
	margin-top: 108px;
	left: 607px;
	background: #731212 url("../images/u1479-grad.png") repeat-x left top;
}

#u1881-4
{
	z-index: 22;
	width: 157px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -157px;
	margin-top: 8px;
	left: 2px;
}

#u1904
{
	z-index: 17;
	width: 145px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -145px;
	margin-top: 108px;
	left: 457px;
	background: #07162D url("../images/u1904-grad.png") repeat-x left top;
}

#u1904.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 108px -145px 0px 0px;
	background: #07162D url("../images/u1904-grad.png") repeat-x left top;
}

#u1914-4
{
	z-index: 18;
	width: 145px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -145px;
	margin-top: 8px;
}

#u1909
{
	z-index: 26;
	width: 89px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -89px;
	margin-top: 108px;
	left: 771px;
	background: #731212 url("../images/u1479-grad.png") repeat-x left top;
}

#u1896:hover,#u1864:hover,#u1865:hover,#u1909:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #030811 url("../images/u1479-r-grad.png") repeat-x left top;
}

#u1930-4
{
	z-index: 27;
	width: 85px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -85px;
	margin-top: 8px;
	left: 1px;
}

#u1851
{
	z-index: 31;
	width: 916px;
	position: relative;
	margin-right: -916px;
	left: 1px;
}

#u1859
{
	z-index: 33;
	width: 168px;
	height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -170px;
	margin-top: 29px;
	left: 688px;
}

#u1919
{
	z-index: 42;
	width: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 0px 7px 7px 0px ;
	-webkit-border-radius: 0px 7px 7px 0px ;
	-khtml-border-radius: 0px 7px 7px 0px ;
	border-radius: 0px 7px 7px 0px ;
	padding-bottom: 1px;
	position: relative;
	margin-right: -42px;
	margin-top: 29px;
	left: 857px;
	background: #2D4CB1 url("../images/u1043-grad.png") repeat-x left top;
}

#u1884
{
	z-index: 43;
	width: 20px;
	position: relative;
	margin-right: -20px;
	margin-top: 1px;
	left: 10px;
}

#u1926-4
{
	z-index: 45;
	width: 275px;
	min-height: 13px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
	margin-right: -275px;
	margin-top: 72px;
	left: 622px;
}

#u1939
{
	z-index: 144;
	width: 167px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -167px;
	margin-top: 108px;
	left: 19px;
	background: #771111 url("../images/u1844-grad.png") repeat-x left top;
}

#u1939:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #081B35 url("../images/u1844-r-grad.png") repeat-x left top;
}

#u1854-4
{
	z-index: 145;
	width: 157px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -157px;
	margin-top: 8px;
	left: 6px;
}

#pu1894
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1894
{
	z-index: 2;
	width: 916px;
	position: relative;
	margin-right: -916px;
}

#u1871
{
	z-index: 34;
	width: 677px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -679px;
	margin-top: 8px;
	left: 20px;
	background: #5B5B5B url("../images/u1457-grad.png") repeat-x left top;
}

#u1936
{
	z-index: 127;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 1px;
	position: relative;
	margin-right: -32px;
	margin-top: 3px;
	left: 378px;
}

#u1934
{
	z-index: 128;
	width: 23px;
	position: relative;
	margin-right: -23px;
	margin-top: 8px;
	left: 4px;
}

#u1933
{
	z-index: 103;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 1px;
	position: relative;
	margin-right: -32px;
	margin-top: 3px;
	left: 412px;
}

#u1937
{
	z-index: 104;
	width: 16px;
	position: relative;
	margin-right: -16px;
	margin-top: 8px;
	left: 8px;
}

#u1900
{
	z-index: 35;
	width: 188px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -199px;
	margin-top: 8px;
	left: 702px;
	padding: 4px 4px 72.00000000000023px 5px;
	background: #928C8C url("../images/u1434-grad.png") repeat-x left top;
}

#u1874
{
	z-index: 37;
	width: 188px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 5px;
	position: relative;
	background: #02050B url("../images/u104-grad.png") repeat-x left top;
}

#u1920-4
{
	z-index: 38;
	width: 187px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -187px;
	margin-top: 9px;
}

#u1891
{
	z-index: 53;
	width: 188px;
	border-color: #D9D5D5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 5px;
	margin-top: 255px;
	position: relative;
	background: #02050B url("../images/u104-grad.png") repeat-x left top;
}

#u1878-4
{
	z-index: 54;
	width: 187px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -187px;
	margin-top: 9px;
}

#u1883-10
{
	z-index: 58;
	width: 182px;
	min-height: 13px;
	color: #000000;
	line-height: 1.5;
	font-size: 13px;
	text-align: left;
	margin-left: 4px;
	margin-top: 19px;
	position: relative;
}

#u1908
{
	z-index: 36;
	width: 677px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	padding-bottom: 9px;
	position: relative;
	margin-right: -679px;
	margin-top: 39px;
	left: 20px;
	background: #939495 url("../images/u1425-grad.png") repeat-x left top;
}

#u1929-4
{
	z-index: 49;
	width: 121px;
	min-height: 13px;
	color: #000000;
	text-align: center;
	position: relative;
	margin-right: -121px;
	margin-top: 25px;
	left: 190px;
}

#u1968-4
{
	z-index: 151;
	width: 121px;
	min-height: 13px;
	color: #000000;
	text-align: center;
	position: relative;
	margin-right: -121px;
	margin-top: 25px;
	left: 552px;
}

#u1860
{
	z-index: 68;
	width: 677px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -679px;
	margin-top: 283px;
	left: 20px;
	background: #939495 url("../images/u1446-grad.png") repeat-x left top;
}

#u1893
{
	z-index: 76;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -32px;
	margin-top: -2px;
	left: 229px;
}

#u1916
{
	z-index: 79;
	position: relative;
	width: 16px;
	margin-right: -16px;
	margin-top: 8px;
	left: 6px;
}

#u1911
{
	z-index: 75;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 7px;
	position: relative;
	margin-right: -32px;
	margin-top: -2px;
	left: 263px;
}

#u1855
{
	z-index: 77;
	position: relative;
	width: 23px;
	margin-right: -23px;
	margin-top: 8px;
	left: 3px;
}

#u1887
{
	z-index: 91;
	width: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #2B2B2C;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -22px;
	margin-top: -2px;
	left: 303px;
}

#u1879-4
{
	z-index: 92;
	width: 5px;
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
	margin-right: -5px;
	margin-top: 7px;
	left: 7px;
}

#u1901
{
	z-index: 86;
	width: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -22px;
	margin-top: -2px;
	left: 326px;
}

#u1892-4
{
	z-index: 87;
	width: 5px;
	font-size: 13px;
	position: relative;
	margin-right: -5px;
	margin-top: 7px;
	left: 7px;
}

#u1850
{
	z-index: 81;
	width: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -22px;
	margin-top: -2px;
	left: 349px;
}

#u1915-4
{
	z-index: 82;
	width: 5px;
	font-size: 13px;
	position: relative;
	margin-right: -5px;
	margin-top: 7px;
	left: 7px;
}

#u1880
{
	z-index: 72;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 3px;
	position: relative;
	margin-right: -32px;
	margin-top: -2px;
	left: 378px;
}

#u1905
{
	z-index: 73;
	width: 23px;
	position: relative;
	margin-right: -23px;
	margin-top: 8px;
	left: 4px;
}

#u1857
{
	z-index: 69;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 0px 0px 4px 4px ;
	-webkit-border-radius: 0px 0px 4px 4px ;
	-khtml-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -32px;
	margin-top: -2px;
	left: 412px;
}

#u1872
{
	z-index: 70;
	width: 16px;
	position: relative;
	margin-right: -16px;
	margin-top: 7px;
	left: 8px;
}

#u1910
{
	z-index: 96;
	width: 550px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -552px;
	margin-top: 90px;
	left: 20px;
}

#u1866-6
{
	z-index: 97;
	width: 242px;
	min-height: 13px;
	text-align: left;
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
	margin-right: -242px;
	margin-top: 9px;
	left: 10px;
}

#u1888
{
	z-index: 106;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 7px;
	position: relative;
	margin-right: -32px;
	margin-top: 12px;
	left: 284px;
}

#u1876
{
	z-index: 108;
	position: relative;
	width: 23px;
	margin-right: -23px;
	margin-top: 8px;
	left: 3px;
}

#u1870
{
	z-index: 107;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 7px;
	position: relative;
	margin-right: -32px;
	margin-top: 12px;
	left: 250px;
}

#u1921
{
	z-index: 110;
	position: relative;
	width: 16px;
	margin-right: -16px;
	margin-top: 8px;
	left: 6px;
}

#u1916_img,#u1855_img,#u1876_img,#u1921_img
{
	display: block;
	vertical-align: top;
}

#u1932
{
	z-index: 112;
	width: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 3px;
	position: relative;
	margin-right: -22px;
	margin-top: 12px;
	left: 370px;
}

#u1897-4
{
	z-index: 113;
	width: 5px;
	font-size: 13px;
	position: relative;
	margin-right: -5px;
	margin-top: 7px;
	left: 7px;
}

#u1925
{
	z-index: 117;
	width: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 3px;
	position: relative;
	margin-right: -22px;
	margin-top: 12px;
	left: 347px;
}

#u1936:hover,#u1933:hover,#u1893:hover,#u1911:hover,#u1901:hover,#u1850:hover,#u1880:hover,#u1857:hover,#u1888:hover,#u1870:hover,#u1932:hover,#u1925:hover
{
	background-color: #939495;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1853-4
{
	z-index: 118;
	width: 5px;
	font-size: 13px;
	position: relative;
	margin-right: -5px;
	margin-top: 7px;
	left: 7px;
}

#u1867
{
	z-index: 122;
	width: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #2B2B2C;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	-khtml-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px ;
	padding-bottom: 3px;
	position: relative;
	margin-right: -22px;
	margin-top: 12px;
	left: 324px;
}

#u1923-4
{
	z-index: 123;
	width: 5px;
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
	margin-right: -5px;
	margin-top: 7px;
	left: 7px;
}

#u1927
{
	z-index: 130;
	width: 916px;
	position: relative;
	margin-right: -916px;
	margin-top: 530px;
}

#u1847
{
	z-index: 132;
	width: 916px;
	position: relative;
	margin-right: -916px;
	margin-top: 536px;
}

#u1861-9
{
	z-index: 134;
	width: 877px;
	min-height: 36px;
	position: relative;
	margin-right: -877px;
	margin-top: 553px;
	left: 26px;
}

#u1861-4
{
	text-align: center;
	color: #FFFFFF;
}

#u1861-2
{
	font-weight: bold;
}

#u1861-6
{
	font-size: 12px;
	text-align: center;
	color: #64B8FF;
}

#u1918
{
	z-index: 143;
	width: 126px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 3px;
	position: relative;
	margin-right: -128px;
	margin-top: 90px;
	left: 571px;
}

#u1962
{
	z-index: 149;
	width: 40px;
	position: relative;
	margin-right: -40px;
	margin-top: 4px;
	left: 46px;
}

#u1969
{
	z-index: 155;
	width: 550px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -552px;
	margin-top: 138px;
	left: 20px;
}

#u1970-6
{
	z-index: 156;
	width: 242px;
	min-height: 13px;
	text-align: left;
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
	margin-right: -242px;
	margin-top: 9px;
	left: 10px;
}

#u1971
{
	z-index: 162;
	width: 126px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 3px;
	position: relative;
	margin-right: -128px;
	margin-top: 138px;
	left: 571px;
}

#u1972
{
	z-index: 163;
	width: 40px;
	position: relative;
	margin-right: -40px;
	margin-top: 4px;
	left: 46px;
}

#u1975
{
	z-index: 165;
	width: 550px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -552px;
	margin-top: 186px;
	left: 20px;
}

#u1976-6
{
	z-index: 166;
	width: 242px;
	min-height: 13px;
	text-align: left;
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
	margin-right: -242px;
	margin-top: 9px;
	left: 10px;
}

#u1977
{
	z-index: 172;
	width: 126px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 3px;
	position: relative;
	margin-right: -128px;
	margin-top: 186px;
	left: 571px;
}

#u1978
{
	z-index: 173;
	width: 40px;
	position: relative;
	margin-right: -40px;
	margin-top: 4px;
	left: 46px;
}

#u1981
{
	z-index: 175;
	width: 550px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
	margin-right: -552px;
	margin-top: 234px;
	left: 20px;
}

#u1982-6
{
	z-index: 176;
	width: 242px;
	min-height: 13px;
	text-align: left;
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
	margin-right: -242px;
	margin-top: 9px;
	left: 10px;
}

#u1983
{
	z-index: 182;
	width: 126px;
	border-width: 1px;
	border-style: solid;
	border-color: #5B5B5B;
	background-color: #000000;
	padding-bottom: 3px;
	position: relative;
	margin-right: -128px;
	margin-top: 234px;
	left: 571px;
}

#u1984
{
	z-index: 183;
	width: 40px;
	position: relative;
	margin-right: -40px;
	margin-top: 4px;
	left: 46px;
}

#u1862_img,#u1851_img,#u1884_img,#u1894_img,#u1934_img,#u1937_img,#u1905_img,#u1872_img,#u1927_img,#u1847_img,#u1962_img,#u1972_img,#u1978_img,#u1984_img
{
	vertical-align: top;
}

body
{
	padding-top: 20px;
}

